<%- include('../partials/header') %>

<h2>Flight Details</h2>
<table>
  <thead>
    <tr>
      <th>Airline</th>
      <th>Airport</th>
      <th>flightNo</th>
      <th>departs</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs %></td>
      </tr>
  </tbody>
</table>
<h3>Destinations:</h3>
<ul>
    <% if (flight.destinations) { %>
        <% flight.destinations.forEach( (destination) => { %>
            <li><%= destination %> </li>
        <% }) %>
    <% } %>
</ul>

<a href="/flights/<%= flight._id %>/destination/new">Add a Destination</a>

<%- include('../partials/footer') %>